# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest
.pytest_cache

# Configuration files, except templates, device presets and installer.cfg
*.ini
*.cfg
*.dat
!default.ini
!system.cfg
!device_presets.cfg
!installer.cfg

# DM script control files
DMcom.*

# Virtual environment
venv/

# _build folder in docs
docs/_build/

# Log files
log/

# PyCharm
.idea

# Installer-related (NSIS)
build/
extra_wheels/
pkgs/
Python/
uninstall.exe