# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest
.pytest_cache

# Ignore configuration files, except defaults
*.ini
*.cfg
!default.ini
!system.cfg

# Ignore DM script control files:
DMcom.*

# Ignore virtual environment:
venv/

# Ignore _build folder in docs:
docs/_build/
