PyQt5
colorama
validators
validate_email
Pillow
requests
pywin32
pyserial
scipy
numpy
python-dateutil
scikit-image
imreg_dft
imageio
pyyaml
psutil
opencv-python
comtypes
shapely>=1.8a1
qdarkstyle
tqdm
statsmodels