PyQt5
colorama
validators
validate_email
Pillow==9.5.0   # latest version of Pillow requires PyQt6
requests
pywin32
pyserial
scipy
numpy
python-dateutil
scikit-image
imreg_dft
imageio
imagecodecs
pyyaml
psutil
opencv-python
mapfost
comtypes
shapely>=1.8a1
qdarkstyle
statsmodels
tifffile
tqdm